@import 'tailwindcss';
@plugin "daisyui" {
}

/* Light theme */
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(98% 0.02 250);
  --color-base-200: oklch(96% 0.03 250);
  --color-base-300: oklch(93% 0.03 250);
  --color-base-content: oklch(18% 0.04 250);

  --color-primary: oklch(65% 0.25 140);
  --color-primary-content: oklch(98% 0.01 140);
  --color-secondary: oklch(70% 0.24 60);
  --color-secondary-content: oklch(20% 0.04 60);
  --color-accent: oklch(65% 0.25 60);
  --color-accent-content: oklch(98% 0.01 60);
  --color-neutral: oklch(50% 0.03 260);
  --color-neutral-content: oklch(98% 0.01 260);
  --color-info: oklch(70% 0.2 210);
  --color-info-content: oklch(98% 0.01 210);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(60% 0.3 25);
  --color-error-content: oklch(98% 0.01 25);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  color-scheme: dark;

  --color-base-100: oklch(15% 0.03 250);
  --color-base-200: oklch(20% 0.03 250);
  --color-base-300: oklch(25% 0.03 250);
  --color-base-content: oklch(90% 0.02 250);

  --color-primary: oklch(55% 0.25 140);
  --color-primary-content: oklch(10% 0.02 140);
  --color-secondary: oklch(60% 0.25 60);
  --color-secondary-content: oklch(10% 0.02 60);
  --color-accent: oklch(60% 0.25 60);
  --color-accent-content: oklch(10% 0.02 60);
  --color-neutral: oklch(35% 0.03 260);
  --color-neutral-content: oklch(90% 0.01 260);
  --color-info: oklch(65% 0.2 210);
  --color-info-content: oklch(12% 0.02 210);
  --color-success: oklch(55% 0.25 140);
  --color-success-content: oklch(10% 0.02 140);
  --color-warning: oklch(70% 0.25 80);
  --color-warning-content: oklch(15% 0.05 80);
  --color-error: oklch(55% 0.3 25);
  --color-error-content: oklch(10% 0.02 25);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

:root {
  --header-height: 10dvh;
}
